body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: #ededed;
}

.main-container {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.main-container a:hover{
    text-decoration: underline;
}
.header {
    /* background-color: aqua; */
    position: absolute;
    margin-top: 0;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
}

.header .head-left {
    width: 50%;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-left: 2rem;
}

.header .head-right {
    margin-right: 2rem;
    width: 50%;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .head-right .icons {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-out;
}

.header .head-right .icons:hover {
    background-color: #d3d3d3;
}

.header .head-right .profile {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    box-shadow: 2px 3px 6px black;

}

.header .head-right .profile img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
}

.main {
    /* background-color: rgb(0, 162, 255); */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;

}

.search-box {
    /* border: 2px solid black; */
    height: 70%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.5rem;
}

.main .search-box .logo {
    /* border: 2px solid red; */
    display: flex;
    height: 30%;
    width: 50%;
}

.logo div {
    /* border: 2px solid rgb(0, 255, 55); */
    font-size: 10rem;
    font-weight: 600;
    text-shadow: 0.35rem 0.35rem #262626;
}

.logo .blue {
    color: #0080ff;
}

.logo .red {
    color: #eb1c1c;
}

.logo .yellow {
    color: #ffa600;
}

.logo .green {
    color: #1b8c1b;
}

.main .input {
    border: 2px solid #bbb;
    height: 10%;
    width: 80%;
    border-radius: 5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    transition: all 500ms ease-in-out;
}

.main .input:hover {
    opacity: 1;
    border: 2px solid #24a5e6;
}

.main .input input {
    border: none;
    width: 85%;
    height: 80%;
    font-size: 1.5rem;
    outline: none;
}

.main .input i {
    padding: 0 1rem;
    font-size: 2rem;
    color: #3c3a3a;
}
.main .search-box .social-icon{
    /* border: 2px solid black; */
    display: flex;
    column-gap: 1rem;
    height: 25%;
    width: 90%;
}
.main .search-box .social-icon div{
    /* border: 2px solid rgb(255, 0, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    transition: all 700ms ease-in-out;
}
.main .search-box .social-icon div:hover{
    background-color: #d3d3d3;
    border-radius: 15px;
}
.social-icon i{
    font-size: 3rem;
    font-weight: 900;

}
.main .search-box .social-icon .icon-background{
    height: 4.5rem;
    width: 4.5rem;
    background-color: #d6d2d2;
    border-radius: 100%;
}

.footer {
    /* background-color: rgb(223, 226, 51); */
    position: absolute;
    bottom: 0;
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a{
    text-decoration: none;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    color: #000;}